body {
    font-family: 'Roboto', sans-serif;

    line-height: 22px;
    font-weight: 300;
    color: #07173D;
}

a {
    text-decoration: none;
    color: #07173D;
}

a:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 500;
}

header, footer {
    width: 85%;
    min-height: 20px;

    margin: 0 auto;
    padding: 10px 25px;

    text-align: center;

    color: #ffffff;
    background-color: #07173D;
}

/* H E A D E R */
header {
    display: flex;
    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    margin: 0 auto;

}

header div {
    flex-grow: 1;
    line-height: 0.9;
}

.header-logo {
    background: url("img/polytechLogoInverted.png") no-repeat center;
    background-size: contain;
}

/* M A I N */
main {
    width: 75%;
    min-height: 200px;

    padding: 25px 35px;
    margin: 100px auto 60px auto;

    color: black;
    background-color: #E7EDF7;
}

#menu {
    width: 100%;
    height: 30px;
    padding: 3px 10px;
    box-sizing: border-box;
    text-align: end;
    font-weight: bold;
    background-color: #ffffff;
    /*color: #ffffff;*/
}
#menu a {
    padding: 2px;
}
#menu a:hover {
    cursor: pointer;
}
.ok {
padding: 10px 20px;
margin-top: 25px;
margin-bottom: 15px;
background-color: #afe954;
}
.error {
padding: 10px 20px;
margin-top: 25px;
margin-bottom: 15px;
background-color: #c93a5b;
font-weight: bolder;
}

/* F O O T E R */

footer {
    display: flex;
    position: fixed;

    right: 0;
    bottom: 0;
    left: 0;

    margin: 0 auto;
}
